@charset "utf-8";/*# sourceMappingURL=local.css.map */
#menu .home UL.sub-block:nth-child(1) {
  width: 440px;
}
#menu .home UL.sub-block:nth-child(1) LI:nth-child(8),
#menu .home UL.sub-block:nth-child(1) LI:nth-child(9),
#menu .home UL.sub-block:nth-child(1) LI:nth-child(10),
#menu .home UL.sub-block:nth-child(1) LI:nth-child(11) {
  left: 240px;
}
